*{
    font-family: "Goethe";
}

QGroupBox{
    background: #451D17;
}

QLabel{
    color: #10A82B;
    font-size: 64px;
    text-align: center;
    max-height: 100px;
}

QPushButton{
    border: none;
    background: transparent;
    color: #FFE2C6;
    font-size: 24px;
    max-height: 48px;
}

QPushButton:hover{
    color: #F4C91C;
    font-size: 30px;
}

QPushButton{
}
